{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="/static/style.css" />

<!--<p>main화면</p>-->
<!--<p id="delete_p">결과</p>-->
<!--<input type="checkbox" id="checkbox" />-->
<!--<header class="header">-->
<!--  <h2 class="u-name">-->
<!--    PET&ZONE-->
<!--    <label for="checkbox">-->
<!--      <i id="navbtn" class="fa fa-bars" aria-hidden="true"></i>-->
<!--    </label>-->
<!--  </h2>-->
<!--  <i class="fa fa-user" aria-hidden="true"></i>-->
<!--</header>-->

<!--<form id="auto_form" action="{% url 'index' %}">-->
<!--  <input class="auto_form_input" type="hidden" name="swLatlng">-->
<!--  <input class="auto_form_input" type="hidden" name="neLatlng">-->
<!--</form>-->


<div class="body">
  <nav id="side-bar" class="side-bar">
    
      <div class="input-group mb-3" v-if="main-side">
          <input type="text" id="keyword" value="커피" class="form-control" v-on:keyup.enter="search">
          <!-- <button @click="search" class="btn btn-secondary">검색하기</button> -->
      </div>
    <!-- <input
      type="text"
      class="form-control"
      id="keyword"
      placeholder="장소명(ex 브론시스)"
    />
    <span>최근 검색어</span> -->
    <button
    @click="search"
      type="button"
      class="btn btn-lg btn-primary"
    >
      검색하기
    </button>
    <button
      type="button"
      class="btn btn-lg btn-primary"
      onclick="getCurrentPosBtn()"
    >
      내 위치
    </button>
      
    <!--==================== STEPS ====================-->
    {% if recommended %}
    <!--==================== STEPS ====================-->
    {% for review in recommended  %}
    <section v-if="steps section container" id="steps">
      <div class="steps__bg">

          <div class="steps__container grid">
              <div class="steps__card">
                <p class="steps__card-description">
                  <div class="steps__card-title">{{review.location__name}}</div>
                  <!-- <img class="steps__card-img" src="assets/img/home_product1.png" style="bottom:-12%"> -->
                  <div class="steps__card-title">{{review.location__address}}</div>
                  <div class="steps__card-title">{{review.location__lot_address}}</div><br>
                  <div class="steps__card-title">{{review.location__time}}</div>
                  <div class="steps__card-title">{{review.location__phone}}</div>
                </p>
                      <!-- {{review.location__lot_address}}
                  </p> -->
              </div>
          </div>
        </div>
      </section>
      {% endfor %}
    {% endif %}
<!--      <section class="steps section" id="steps">-->
<!--        <div class="steps__bg">-->
<!--          <div class="steps__container grid">-->
<!--            <div class="steps__card">-->
<!--              <p class="steps__card-description">-->
<!--                <div class="steps__card-title"></div>-->
<!--                <div class="steps__card-title"></div>-->
<!--                <div class="steps__card-title"></div><br>-->
<!--                <div class="steps__card-title"></div>-->
<!--                <div class="steps__card-title"></div>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="steps__bg">-->
<!--          <div class="steps__container grid">-->
<!--            <div class="steps__card">-->
<!--              <p class="steps__card-description">-->
<!--                <div class="steps__card-title"></div>-->
<!--                <div class="steps__card-title"></div>-->
<!--                <div class="steps__card-title"></div><br>-->
<!--                <div class="steps__card-title"></div>-->
<!--                <div class="steps__card-title"></div>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="steps__bg">-->
<!--          <div class="steps__container grid">-->
<!--            <div class="steps__card">-->
<!--              <p class="steps__card-description">-->
<!--                <div class="steps__card-title"></div>-->
<!--                <div class="steps__card-title"></div>-->
<!--                <div class="steps__card-title"></div><br>-->
<!--                <div class="steps__card-title"></div>-->
<!--                <div class="steps__card-title"></div>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="steps__bg">-->
<!--          <div class="steps__container grid">-->
<!--            <div class="steps__card">-->
<!--              <p class="steps__card-description">-->
<!--                <div class="steps__card-title"></div>-->
<!--                <div class="steps__card-title"></div>-->
<!--                <div class="steps__card-title"></div><br>-->
<!--                <div class="steps__card-title"></div>-->
<!--                <div class="steps__card-title"></div>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="steps__bg">-->
<!--          <div class="steps__container grid">-->
<!--            <div class="steps__card">-->
<!--              <p class="steps__card-description">-->
<!--                <div class="steps__card-title"></div>-->
<!--                <div class="steps__card-title"></div>-->
<!--                <div class="steps__card-title"></div><br>-->
<!--                <div class="steps__card-title"></div>-->
<!--                <div class="steps__card-title"></div>-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>            -->
    </nav>

    <section class="section-1" id="map"></section>
    <div class="category">
      <ul>
        <li id="foodMenu" onclick="changeMarker('food')">
          <img src="/static/images/food_marker.png">
          식당
        </li>
        <li id="cafeMenu" onclick="changeMarker('cafe')">
          <img src="/static/images/cafe_marker.png">
          카페
        </li>
        <li id="petMenu" onclick="changeMarker('pet')">
          <img src="/static/images/pet_marker.png">
          애견
        </li>
      </ul>
    </div>
</div>
<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=4f831c1ef2222f20d9bc5096cfa70dcf&libraries=services"></script>
<script type="text/javascript" src="/static/map.js"></script>
<script type="text/javascript">
console.log("작동");
kakao.maps.event.addListener(map, "idle", function () {
  console.log("idle상태입니다.");
  // 지도 영역정보를 얻어옵니다
  var bounds = map.getBounds();

  // 영역정보의 남서쪽 정보를 얻어옵니다
  var swLatlng = bounds.getSouthWest();

  // 영역정보의 북동쪽 정보를 얻어옵니다
  var neLatlng = bounds.getNorthEast();
  var mapinfo = {
    swLatlng: swLatlng,
    neLatlng: neLatlng,
  };
<!--  var message =-->
<!--    "<p>영역좌표는 남서쪽 위도, 경도는  " + swLatlng.toString() + "이고 <br>";-->
<!--  message += "북동쪽 위도, 경도는  " + neLatlng.toString() + "입니다 </p>";-->
<!--  console.log(message);-->
  $.ajax({
    url: "/main/recommended/",
    type: "POST",
    headers: {
      "X-CSRFTOKEN": "{{ csrf_token }}",
    },
    data: JSON.stringify(mapinfo),
    success: function (data) {
      // AJAX 통신 성공시 받은 데이터를 console에 print
      console.log("성공~")
      console.log(data);

    },
    error: function (data) {
      // AJAX 통신 실패시 alert창
      //            alert(data.status); // the status code
      console.log(data);
      if (data.responseJSON.error) {
        alert(data.responseJSON.error);
      }
    },
  });
});
</script>

{% endblock %}
