/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "LeeSeoyun";
  --superbig-font-size: 3rem;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #23242b;
  color: #fff;
}
.u-name {
  font-size: 20px;
  padding-left: 17px;
}
.u-name b {
  color: #127b8e;
}
.header i {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}
.header i:hover {
  color: #127b8e;
}
.user-p {
  text-align: center;
  padding-left: 10px;
  padding-top: 25px;
}
.user-p img {
  width: 100px;
  border-radius: 50%;
}
.user-p h4 {
  color: #ccc;
  padding: 5px 0;
}
#side-bar {
  background-color: #838daa;
}
.side-bar {
  width: 500px;
  /* background: #262931; */
  min-height: 100vh;
  transition: 500ms width;
}
.body {
  display: flex;
}
.section-1 {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section-1 h1 {
  color: #fff;
  font-size: 60px;
}
.section-1 p {
  color: #127b8e;
  font-size: 20px;
  background: #fff;
  padding: 7px;
  border-radius: 5px;
}
.side-bar ul {
  margin-top: 20px;
  list-style: none;
}
.side-bar ul li {
  font-size: 16px;
  padding: 15px 0px;
  padding-left: 20px;
  transition: 500ms background;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.side-bar ul li:hover {
  background: #127b8e;
}
.side-bar ul li a {
  text-decoration: none;
  color: #eee;
  cursor: pointer;
  letter-spacing: 1px;
}
.side-bar ul li a i {
  display: inline-block;
  padding-right: 10px;
  font-size: 23px;
}
#navbtn {
  display: inline-block;
  margin-left: 70px;
  font-size: 20px;
  transition: 500ms color;
}
#checkbox {
  display: none;
}
#checkbox:checked ~ .body .side-bar {
  width: 60px;
}
#checkbox:checked ~ .body .side-bar .user-p {
  visibility: hidden;
}
#checkbox:checked ~ .body .side-bar a span {
  display: none;
}
.label {
  margin-bottom: 96px;
}
.label * {
  display: inline-block;
  vertical-align: top;
}
.label .left {
  background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_l.png")
    no-repeat;
  display: inline-block;
  height: 24px;
  overflow: hidden;
  vertical-align: top;
  width: 7px;
}
.label .center {
  background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_bg.png")
    repeat-x;
  display: inline-block;
  height: 24px;
  font-size: 12px;
  line-height: 24px;
}
.label .right {
  background: url("https://t1.daumcdn.net/localimg/localimages/07/2011/map/storeview/tip_r.png") -1px
    0 no-repeat;
  display: inline-block;
  height: 24px;
  overflow: hidden;
  width: 6px;
}
.overlaybox {
  position: relative;
  width: 360px;
  height: 200px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/box_movie.png")
    no-repeat;
  padding: 15px 10px;
}
.overlaybox div,
ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.overlaybox li {
  list-style: none;
}
.overlaybox .boxtitle {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png")
    no-repeat right 120px center;
  margin-bottom: 8px;
}
.overlaybox .first {
  position: absolute;
  width: 247px;
  height: 136px;
  background: url("https://img1.kakaocdn.net/cthumb/local/R0x420/?fname=http%3A%2F%2Ft1.kakaocdn.net%2Ffiy_reboot%2Fplace%2FDF4DB267584446BB844155EF87DEAC44")
    no-repeat;
  margin-bottom: 8px;
}
.first .text {
  color: #fff;
  font-weight: bold;
}
.first .triangle {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/triangle.png")
    no-repeat;
  padding: 6px;
  font-size: 18px;
}
.first .movietitle {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 7px 15px;
  font-size: 14px;
}
.overlaybox ul {
  width: 247px;
}
.overlaybox li {
  position: relative;
  margin-bottom: 2px;
  background: #2b2d36;
  padding: 5px 10px;
  color: #aaabaf;
  line-height: 1;
}
.overlaybox li span {
  display: inline-block;
}
.overlaybox li .number {
  font-size: 16px;
  font-weight: bold;
}
.overlaybox li .title {
  font-size: 13px;
}
.overlaybox ul .arrow {
  position: absolute;
  margin-top: 8px;
  right: 25px;
  width: 5px;
  height: 3px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/updown.png")
    no-repeat;
}
.overlaybox li .up {
  background-position: 0 -40px;
}
.overlaybox li .down {
  background-position: 0 -60px;
}
.overlaybox li .count {
  position: absolute;
  margin-top: 5px;
  right: 15px;
  font-size: 10px;
}
.overlaybox li:hover {
  color: #fff;
  background: #d24545;
}
.overlaybox li:hover .up {
  background-position: 0 0px;
}
.overlaybox li:hover .down {
  background-position: 0 -20px;
}

.wrap {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 288px;
  height: 132px;
  margin-left: -144px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  line-height: 1.5;
}
.wrap * {
  padding: 0;
  margin: 0;
}
.wrap .info {
  width: 286px;
  height: 120px;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
}
.wrap .info:nth-child(1) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.info .title {
  padding: 5px 0 0 10px;
  height: 30px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  font-weight: bold;
}
.info .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  width: 17px;
  height: 17px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png");
}
.info .close:hover {
  cursor: pointer;
}
.info .body {
  position: relative;
  overflow: hidden;
}
.info .desc {
  position: relative;
  margin: 13px 0 0 90px;
  height: 75px;
}
.desc .ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.desc .jibun {
  font-size: 11px;
  color: #888;
  margin-top: -2px;
}
.info .img {
  position: absolute;
  top: 6px;
  left: 5px;
  width: 73px;
  height: 71px;
  border: 1px solid #ddd;
  color: #888;
  overflow: hidden;
}
.info:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: 0;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
.info .link {
  color: #5085bb;
}

.bubble {
  z-index: 100;
  position: relative;
  height: auto;
  padding: 10px 10px 10px 10px;
  background: #ffffff;
  border-radius: 5px;
  border: #7f7f7f solid 1px;
  position: absolute;
  font-size: 16px;
  text-align: left;
}

.bubble:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 16px 20px 17.5px;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -18.5px;
  left: 49px;
}

.bubble:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 0 16px 20px 17.5px;
  border-color: #7f7f7f transparent;
  display: block;
  width: 0;
  z-index: 0;
  top: -20px;
  left: 49px;
}

/*=============== STEPS ===============*/
.steps__bg {
  background-color: var(--second-color);
  padding: 2rem 2rem;
}

.steps__container {
  gap: 2rem;
  padding-top: 1rem;
  margin-top: 0;
}

.steps__title {
  font-size: 2rem;
  color: #fff;
}

.steps__card {
  background-color: #ffffff;
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;
}

.steps__card-number {
  display: inline-block;
  background-color: #ffffff;
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1-5);
  transition: 0.3s;
}

.steps__card-img {
  display: flexbox;
  position: absolute;
  width: 40%;
  right: 3%;
  bottom: -10%;
  padding: 0.5rem 0.75rem;
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1-5);
  transition: 0.3s;
}

.steps__card-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.steps__card-description {
  font-size: var(--small-font-size);
}

.steps__card:hover .steps__card-number {
  transform: translateY(-0.25rem);
}

.grid {
  display: grid;
}

#mapwrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.category,
.category * {
  margin: 0;
  padding: 0;
  color: #000;
}
.category {
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: 10px;
  width: 150px;
  height: 70px;
  z-index: 10;
  border: 1px solid black;
  font-family: "Malgun Gothic", "맑은 고딕", sans-serif;
  font-size: 12px;
  text-align: center;
  background-color: #fff;
}
.category .menu_selected {
  font-weight: 900;
  margin: 0 -1px;
}
.category li {
  list-style: none;
  float: left;
  width: 50px;
  height: 60px;
  padding-top: 5px;
  cursor: pointer;
}
.category img {
  display: block;
  margin: 0 auto 2px;
  width: 32px;
  height: 40px;
}
