{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }
</style>
<form action="{% url 'user:change_category' %}" method="post">
    {% csrf_token %}
    {% for category in change_form.category %}
        {% if forloop.counter != 1 %}
<!--        <p>{{forloop.counter}}</p>-->
        <br>
        <img src="/static/{{}}">
        {{category}}
<!--    form.field.value-->
<!--        카테고리이미지-->
<!--        {{ category.data.profile}}-->
<!--        {{ category.fields.profile}}-->
<!--        카테고리이름-->
<!--        {{ category.data.name}}-->
<!--        {{ category.fields.profile}}-->
<!--        카테고리 내용-->
<!--        {{ category.data.contents }}-->

        {% endif %}
    {% endfor %}
    <br>
<!--    <input type="checkbox" checked data-toggle="toggle" data-size="xs" value="{{change_form.on_off.value}}">-->
    {{ change_form.on_off}}
    <br>
    <input type="submit" value="Submit">
</form>
{% endblock %}