{% extends "base.html" %}
{% block content %}
{% load static %}
<style>
  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }
</style>
<form action="{% url 'user:change_category' %}" method="post">
    {% csrf_token %}
    {{change_form}}
<!--    {% for category in change_form.category %}-->
<!--        {% if forloop.counter != 1 %}-->
<!--&lt;!&ndash;        <p>{{forloop.counter}}</p>&ndash;&gt;-->
<!--        <br>-->

<!--        {{category}}-->
<!--&lt;!&ndash;    form.field.value&ndash;&gt;-->
<!--&lt;!&ndash;        카테고리이미지&ndash;&gt;-->
<!--&lt;!&ndash;        {{ category.data.profile}}&ndash;&gt;-->
<!--&lt;!&ndash;        {{ category.fields.profile}}&ndash;&gt;-->
<!--&lt;!&ndash;        카테고리이름&ndash;&gt;-->
<!--&lt;!&ndash;        {{ category.data.name}}&ndash;&gt;-->
<!--&lt;!&ndash;        {{ category.fields.profile}}&ndash;&gt;-->
<!--&lt;!&ndash;        카테고리 내용&ndash;&gt;-->
<!--&lt;!&ndash;        {{ category.data.contents }}&ndash;&gt;-->

<!--        {% endif %}-->
<!--    {% endfor %}-->
<!--    <br>-->
<!--&lt;!&ndash;    <input type="checkbox" checked data-toggle="toggle" data-size="xs" value="{{change_form.on_off.value}}">&ndash;&gt;-->
<!--    {{ change_form.on_off}}-->
    <br>
    <input type="submit" value="Submit">
</form>
{% endblock %}