{% extends "base.html" %}


{% block content %}
{% load socialaccount %}
{% load static %}
{% providers_media_js %}
<div class="container my-3">
    <form method="post" action="{% url 'user:login' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="username">사용자ID</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <button style="width: 175px; height: 44px;" type="submit" class="btn btn-block btn-round btn-secondary">Login</button>
    </form> 
    
    <a class="nav-link" href="{% url 'user:signup' %}">회원가입</a>
    <br>


    <div class="text-left text-muted delimiter">or use a social network</div>

    <div class="p-2 login_api">
        <a style="margin-left: 15px;" href="{% provider_login_url 'kakao' %}">
            <img src="{% static 'images/kakao_login_medium_narrow.png' %}">
        </a> <br>
        <a class="btn btn-block btn-social btn-google" href="{% provider_login_url 'google' method='oauth2' %}">
            <img  style="margin-top: 13px; width: 180px; height: 48px;  float: left;"src="{% static 'images/구글로그인.png' %}">
        </a>  <br><br><br>
        <a class="btn btn-block btn-social btn-naver" href="{% provider_login_url 'naver' method='oauth2' %}">
            <img style="width: 175px; height: 44px; float: left;" src="{% static 'images/btnG_완성형.png' %}">
        </a>  <br> <br> <br> 
    </div>

</div>
{% endblock %}