{% extends "base.html" %}
{% block content %}
{% load static %}

<style>
     label{
        font-weight: 800;
        float: left;
        text-align: center;
        margin-top: 15px;
    }
  .box {
        background-color: rgb(248, 248, 250);
        border: solid 0.5px rgb(234, 236, 239);
        width: 40%;
        height: 60%;
        margin-left: 25%;
        border-radius: 20px;
        padding-left: 15px;
    }
    .center
    {
        display: flex; 
        justify-content: center;
        
    }
    .bt
    {
        width: 100px; 
        height: 40px;
    }

</style>

<h4 style="margin-top: 20px; margin-left: 25%; text-align:left"> <strong>{{ my_pet.name }}의 정보</strong></h4> <br>

<div class="box">
    <form action="{% url 'user:pet' my_pet.id%}" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">반려동물 이름</label> <br><br>
        <a>{{pet_form.name}}</a><br>

        <label for="kind">{{ my_pet.name }}의 종류</label> <br><br>
        <a>{{pet_form.kind}}<br></a>

        <label for="breed">{{ my_pet.name }}의 품종</label><br><br>
        {{pet_form.breed}}<br>

        <label for="adoption_day">{{ my_pet.name }}(이)가 내게 온 날</label> <br><br>
        {{pet_form.adoption_day}}<br>

        <label for="birthday">{{ my_pet.name }}(이)가 태어난 날</label> <br><br>
        {{pet_form.birthday}}<br>

        <label for="profile">{{ my_pet.name }}의 사진</label><br><br>
        <img style="width: 120px; height: 120px;" src="/media/{{ my_pet.profile }}"> <br>
        {{pet_form.profile}} <br>

        <div class="center">
            <div class="bt"><button type="submit"  onclick="Alert_U()"  class="btn btn-block btn-round btn-secondary">수정</button></div>
        </div>
    </form>
    <form action="{% url 'user:pet_delete' my_pet.id %}" method="post" >
        {% csrf_token %}
        <div class="center">
            <div class="bt"><button type="submit"  onclick="Alert_D()"  class="btn btn-block btn-round btn-secondary">삭제</button></div>
        </div>
    </form>
    
</div>
<!-- {{ my_pet.id }}
{{ my_pet.profile }}
{{ my_pet.name }}
{{ my_pet.kind }}
{{ my_pet.breed }}
{{ my_pet.adaoption_day }}
{{ my_pet.birthday }} -->

<script>
    function Alert_U() 
    {
      alert("{{ my_pet.name }}의 정보 수정 완료!")
    }  

    function Alert_D() 
    {
      alert("{{ my_pet.name }}의 정보 삭제 완료!")
    }  

</script>

{% endblock %}